* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-top {
    background: url('img/home/home-mobile-jumbotron.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-top ul {
    padding-top: 5.2rem;
    list-style-type: none;
    color: white;
}

footer {
    background: #828282;
    color: white;
    padding: 2rem;
}

@media(min-width: 720px) {
    .split{
        display: inline-block;
    }

    .email {
        margin-right: 4%;
        margin-left: 2%;
        width: 30%;
    }

    .ny {
        margin-right: 4%;
        width: 18%;
    }

    .fl {
        margin-right: 4%;
        width: 18%;
    }

    .ca {
        width: 18%;
    }

    .copy {
        text-align: center;
    }
}

.form-text {
    color: white !important;
}



