* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0.001px;
}


.home-top {
    background: url('img/home/home-mobile-jumbotron.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 21rem;
}

.home-top ul {
    padding-top: 7rem;
    list-style-type: none;
    color: white;
}
/* JUMBOTRON MEDIA QUERY */
@media(min-width: 721px) {
    .home-top {
        background: url('img/home/home-jumbotron.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 28rem;
    }

    .home-top ul {
        padding-top: 5rem;
        list-style-type: none;
        color: white;
    }

    h1 {
        font-size: 4.5rem
    }
}

/* TOP CONTENT */

.top-content .row {
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.top-content .row .pic-1 {
    background: url('img/home/home-mobile-img-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20rem;
    width: 100%;
}

.top-content .row .pic-2 {
    background: url('img/home/home-mobile-img-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20rem;
    width: 100%;
}

.top-content .row .text,
.top-content .row p {
    margin-top: 1rem;
}

.top-content button {
    background: white;
    border: 1px solid black;
    width: 100%;
    padding: 3%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* TOP CONTENT MEDIA QUERY */
@media (min-width: 721px) {
    .top-content .row {
        padding-left: 0;
        padding-right: 0;
    }

    .top-content .row-1 {
        flex-direction: row-reverse;
    }

    .top-content .row .pic-1,
    .top-content .row .pic-2,
    .top-content .row .text {
        width: 45%;
    }

    .pic-1 {
        margin-left: 10%;
    }

    .pic-2 {
        margin-right: 10%;
    }

    .top-content .text {
        width: 93%;
    }
}

/* MAIN CONTENT */

.row .villas {
    background: url('img/home/home-mobile-villas-img.png');
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20rem;
    width: 100%;
}

.row .outskirts {
    background: url('img/home/home-mobile-outskirts-img.png');
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20rem;
    width: 100%;
}

.row .blocks {
    background: url('img/home/home-mobile-the-blocks-img.png');
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20rem;
    width: 100%;
}

.row .villas .caption h3,
.row .outskirts .caption h3,
.row .blocks .caption h3 {
    background: #d8d8d8;
    margin-top: 16rem;
    padding: 7%;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.text-1 {
    margin-top: 5rem;
}

.text-2 {
    margin-bottom: -5rem;
}
/* MAIN CONTENT MEDIA QUERY */
@media (min-width: 768px) {
    .row .villas {
        background: url('img/home/home-villas-img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 20rem;
        width: 100%;
    }
    
    .row .outskirts {
        background: url('img/home/home-outskirts-img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 20rem;
        width: 100%;
    }
    
    .row .blocks {
        background: url('img/home/home-the-blocks-img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 20rem;
        width: 100%;
    }

    .row .villas .caption h3,
    .row .blocks .caption h3 {
        background: #d8d8d8;
        margin-top: 15rem;
        padding: 7%;
        width: 39%;
        margin-left: 61%;
        text-align: center;
        height: 1rem;
        letter-spacing: 2px;
    }

    .row .outskirts .caption h3 {
        background: #d8d8d8;
        margin-top: 15rem;
        padding: 7%;
        width: 39%;
        margin-left: 0;
        margin-right: 61%;
        text-align: center;
        height: 1rem;
        letter-spacing: 2px;
    }

    .text-2 {
        margin-bottom: 0;
    }

    .text-1,
    .text-2 {
        width: 51%;
        margin-left: 21%;
    }
}

/* FOOTER */
footer {
    background: #828282;
    color: white;
    padding: 2rem;
    margin-top: 7rem;
}

.form-text {
    color: white !important;
}
/* FOOTER MEDIA QUERY */
@media(min-width: 887px) {
    .split{
        display: inline-block;
    }

    .email {
        margin-right: 4%;
        margin-left: 2%;
        width: 30%;
    }

    .ny {
        margin-right: 4%;
        width: 18%;
    }

    .fl {
        margin-right: 4%;
        width: 18%;
    }

    .ca {
        width: 18%;
    }

    .copy {
        text-align: center;
    }
}





