* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0.001px;
    z-index: 500;
}


.home-top {
    background: url('img/services/services-jumbotron.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 21rem;
}

.home-top ul {
    padding-top: 7rem;
    list-style-type: none;
    color: white;
}
/* JUMBOTRON MEDIA QUERY */
@media(min-width: 721px) {
    .home-top {
        background: url('img/services/services-jumbotron.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 28rem;
    }

    .home-top ul {
        padding-top: 5rem;
        list-style-type: none;
        color: white;
    }

    h1 {
        font-size: 4.5rem
    }
}

/* MAIN CONTENT */
/* TABS */
.top-text {
    width: 90%;
    padding-left: 5%;
}

.tabs {
    width: 90%;
    text-align: center;
    list-style-type: none;
    margin: auto;
}

.tabs .tab {
    width: 100%;
    padding: 3%;
    border: 1px solid black;
    margin-top: 1rem;
    font-weight: bold;
}


.tabs .tabbed {
    color: white;
    background: #5e9fb9;
    border: 1px solid #5e9fb9;
}
/* TABS MEDIA QUERY */
@media (min-width: 768px) {
    .tabs .tab {
        display: inline-block;
        text-align: center;
        margin-right: 1%;
        padding: 1rem;
        max-width: 23%;
        font-size: .9rem;
    }
}

/* CONTENT */
.current {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text {
    flex-basis: initial;
}

.pic {
    flex-basis: initial;
    background: grey;
    height: 20rem;
    margin-bottom: 3rem;
}

/* SERVICE TAB PICS */
.pic-0 {
    background: url('img/services/services-tab-mobile-pre-construction-img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.pic-1 {
    background: url('img/services/services-tab-mobile-construction-img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.pic-2 {
    background: url('img/services/services-tab-mobile-design-build-img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.pic-3 {
    background: url('img/services/services-tab-mobile-sustainability-img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
/* SERVICE TAB MEDIA QUERY */
@media (min-width: 768px) {
    .text,
    .pic {
        /* flex-basis: 0; */
        max-width: 50%;
    }

    .pic-0 {
        background: url('img/services/services-tab-pre-construction-img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .pic-1 {
        background: url('img/services/services-tab-construction-img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .pic-2 {
        background: url('img/services/services-tab-design-build-img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .pic-3 {
        background: url('img/services/services-tab-sustainability-img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

/* FOOTER */
footer {
    background: #828282;
    color: white;
    padding: 2rem;
}

.form-text {
    color: white !important;
}
/* FOOTER MEDIA QUERY */
@media(min-width: 887px) {
    .split{
        display: inline-block;
    }

    .email {
        margin-right: 4%;
        margin-left: 2%;
        width: 30%;
    }

    .ny {
        margin-right: 4%;
        width: 18%;
    }

    .fl {
        margin-right: 4%;
        width: 18%;
    }

    .ca {
        width: 18%;
    }

    .copy {
        text-align: center;
    }
}





