* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0.001px;
}


.home-top {
    background: url('img/services/services-jumbotron.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 21rem;
}

.home-top ul {
    padding-top: 7rem;
    list-style-type: none;
    color: white;
}
/* JUMBOTRON MEDIA QUERY */
@media(min-width: 721px) {
    .home-top {
        background: url('img/services/services-jumbotron.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 28rem;
    }

    .home-top ul {
        padding-top: 5rem;
        list-style-type: none;
        color: white;
    }

    h1 {
        font-size: 4.5rem
    }
}


footer {
    background: #828282;
    color: white;
    padding: 2rem;
}

.form-text {
    color: white !important;
}
/* FOOTER MEDIA QUERY */
@media(min-width: 721px) {
    .split{
        display: inline-block;
    }

    .email {
        margin-right: 4%;
        margin-left: 2%;
        width: 30%;
    }

    .ny {
        margin-right: 4%;
        width: 18%;
    }

    .fl {
        margin-right: 4%;
        width: 18%;
    }

    .ca {
        width: 18%;
    }

    .copy {
        text-align: center;
    }
}





